body {
    height: 100%;
    margin: 0;  
    padding: 0;
    background-image: url('../images/home_page_image.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.auth {
    width: 100px;
    margin: 8em auto;
}