.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-page,
#register-page {
    width: 30%;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background:  cornflowerblue;
}

.container {
    padding: 20px;
}

.container > h1 {
    font-weight: 400;
    font-size: 2.7rem;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-family: 'Impact', 'Times New Roman', Times, serif;
}

label,
input {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    
}

label {
    margin-bottom: 4px;
    font-size: 25px;
    color: white;
    font-family: 'Impact', 'Times New Roman', Times, serif;
    margin-top: 15px;
}

input::placeholder {
    color: lightgray;
}

input[type="username"],
input[type="password"],
input[type="number"],
input[type="email"] {
    background: #ecf0f3;
    padding: 15px;
    padding-left: 20px;
    height: 35px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 20px;
}

.btn.submit {
    margin-top: 25px;
    background-color: cornflowerblue;
    height: 40px;
    border-radius: 20px;
    color: white;
    background-color: orange;
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Impact', 'Times New Roman', Times, serif;
}

.btn.submit:hover {
    color: orange;
    background-color: white;
}

.auth {
    width: 100px;
    margin: 8em auto;
}

.back-link-container {
    text-align: left;
    margin-top: 20px;
  }
  
  .back-link-container a {
    display: inline-block;
  }
  
  .home-icon {
    width: 30px; 
    height: 30px; 
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .home-icon:hover {
    transform: scale(1.5); 
  }