#login-page {
    position: absolute;
    width: 30%;
    height: 40%;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #3e4443;
    box-shadow: 0px 0px 32px 0px #49535e, -14px -14px 20px #191c21;
}

#register-page {
    position: relative;
    width: 30%;
    height: 40;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: orange;
}

.container {
    padding: 20px;
}

.container>h1 {
    font-weight: 400;
    font-size: 2.7rem;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-family: 'Impact', 'Times New Roman', Times, serif;
}

label,
input {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 4px;
    font-size: 17px;
    color: white;
    margin-top: 4px;
    font-family: 'Impact', 'Times New Roman', Times, serif;
}

label:nth-of-type(2) {
    margin-top: 10px;
}

input::placeholder {
    color: rgba(184, 179, 179, 0.678);
};


label[for="female"] {
    margin-top: 10px;
}

input[type="nickname"],
input[type="password"],
input[type="number"],
input[type="email"] {
    background: #ecf0f3;
    padding: 20px;
    padding-left: 20px;
    height: 20px;
    margin-top: 10px;
    font-size: 12px;
    border-radius: 20px;
}

label[for="terms"]>input {
    display: inline;
}

.btn.submit {
    margin-top: 10px;
    background-color: cornflowerblue;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Impact', 'Times New Roman', Times, serif;
}

.btn.submit:hover {
    color: orange;
    background-color: cornflowerblue;
}

.auth {
    width: 100px;
    margin: 8em auto;
}