.not-found {
    width: 70%;
    box-shadow: 0px 0px 40px 0px;
    text-align: center;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .errorTitle {
    font-size: 100px;
    margin-bottom: 20px;
  }
  
  .not-found-image {

    width: 700px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .not-found p {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Impact', 'Times New Roman', Times, serif;
  }
  
  .not-found a {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
  }
  