.catalogue {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
    justify-items: center; 
    width: 60%; 
    padding-bottom: 50px;
}

.allServices-info {
    background-color: rgba(255, 255, 255, 0.2); 
    border: 2px solid #007bff; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
    width: 100%; 
    max-width: 300px; 
}

.allServices-info img {
    border-radius: 10px 10px 0 0; 
    width: 100%; 
}

.allServices-info .card-body,
.allServices-info .list-group,
.allServices-info .list-group-item {
    background-color: transparent;
    color: black; 
}

.allServices-info .list-group-item {
    border: none; 
    padding: 5px 0; 
}

.allServices-info .card-link {
    display: inline-block; 
    margin-top: 10px;
    padding: 10px 20px; 
    background-color:  cornflowerblue;
    color: white; 
    text-decoration: none;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

.allServices-info .card-link:hover {
    background-color: cornflowerblue; 
    color: orange; 
    text-decoration: none; 
}